<html>
<head>
<!-- <link
    href="//cdn.pydata.org/bokeh/release/bokeh-1.4.0.min.css"
    rel="stylesheet" type="text/css">
<link
    href="//cdn.pydata.org/bokeh/release/bokeh-widgets-1.4.0.min.css"
    rel="stylesheet" type="text/css">

<script src="//cdn.pydata.org/bokeh/release/bokeh-1.4.0.min.js"></script>
<script src="//cdn.pydata.org/bokeh/release/bokeh-widgets-1.4.0.min.js"></script> -->

<style>
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
    
    li {
      float: left;
    }
    
    li a {
      display: block;
      padding: 8px;
      background-color: #dddddd;
    }
    </style>
    

</head>
<body>
<H1> Shannon Serrao</H1>
<h2> Hi, I'm Shannon, a data-scientist. I am a PhD in statistical Physics from Virginia Tech. 
  I am trained in Data Science, Machine Learning and Deep Learning.  
  </h2>
<h3> This is a scaled down version of a LeaseToMe app, that I am built for the company LeaseToMe.  </h3>
<h4> If you would like to get in touch with me, you can email me at <p><a href="shannonserrao@gmail.com">shannonserrao@gmail.com</a></p> <h4>
  <!-- <p>Github: https://github.com/shannonserrao</p>
  <p>LinkedIn : https://www.linkedin.com/in/shannon-serrao-91b496197/</p> -->
  <p><a href="https://github.com/shannonserrao">Github: https://github.com/shannonserrao</a></p>
  <p><a href="https://www.linkedin.com/in/shannon-serrao-91b496197/">LinkedIn : https://www.linkedin.com/in/shannon-serrao-91b496197/</a></p>
<h3>Have a great day!!</h3>    
<!-- <form action="/"> -->
<!-- <select name="feature_name">
    {% for feature in feature_names %}
        {% if feature == current_feature_name %}
            <option selected value="{{ feature }}">{{ feature }}</option> 
        {% else %} 
            <option value="{{ feature }}">{{ feature }}</option> 
        {% endif %}
    {% endfor %}
</select>
<input type="Submit" title="Click Here" value="Demographics">
<input type="Submit" title="Click Here" value="Demographics">
<input type="Submit" title="Click Here" value="Demographics">
</form> -->

<!-- {{ script|safe }}
{{ div|safe }} -->
  

</body>
</html>