<html>
<head>
<!-- <link
    href="//cdn.pydata.org/bokeh/release/bokeh-1.4.0.min.css"
    rel="stylesheet" type="text/css">
<link
    href="//cdn.pydata.org/bokeh/release/bokeh-widgets-1.4.0.min.css"
    rel="stylesheet" type="text/css">

<script src="//cdn.pydata.org/bokeh/release/bokeh-1.4.0.min.js"></script>
<script src="//cdn.pydata.org/bokeh/release/bokeh-widgets-1.4.0.min.js"></script> -->

<style>
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
    
    li {
      float: left;
    }
    
    li a {
      display: block;
      padding: 8px;
      background-color: #dddddd;
    }
    </style>
    

</head>
<body>
<H1> Shannon Serrao</H1>
<h2> Hi, I'm Shannon, an aspiring data-scientist. This is a scaled down version of a LeaseToMe app, that I am building for the company LeaseToMe</h2>
<h3> Hopefully you like my app. </h3>

<h3>Have a great day!!</h3>    
<!-- <form action="/"> -->
<!-- <select name="feature_name">
    {% for feature in feature_names %}
        {% if feature == current_feature_name %}
            <option selected value="{{ feature }}">{{ feature }}</option> 
        {% else %} 
            <option value="{{ feature }}">{{ feature }}</option> 
        {% endif %}
    {% endfor %}
</select>
<input type="Submit" title="Click Here" value="Demographics">
<input type="Submit" title="Click Here" value="Demographics">
<input type="Submit" title="Click Here" value="Demographics">
</form> -->

<!-- {{ script|safe }}
{{ div|safe }} -->
<ul>
    <li><a href="demographics.html">Demographics</a></li>
    <li><a href="tax_asr.html">Property prices information</a></li>
    <li><a href="poi.html">Places of interest</a></li>
    <li><a href="about.html">About</a></li>
  </ul>
  

</body>
</html>