<html>
<head>
<link
    href="//cdn.pydata.org/bokeh/release/bokeh-1.4.0.min.css"
    rel="stylesheet" type="text/css">
<link
    href="//cdn.pydata.org/bokeh/release/bokeh-widgets-1.4.0.min.css"
    rel="stylesheet" type="text/css">

<script src="//cdn.pydata.org/bokeh/release/bokeh-1.4.0.min.js"></script>
<script src="//cdn.pydata.org/bokeh/release/bokeh-widgets-1.4.0.min.js"></script>


</head>
<body>
<H1> See information about the rental spaces in New York</H1>

<h3>Click to see the demographics information</h3>    
<form action="property_info">    
<select name="tax_asr_name">
        {% for ta_feature in tax_asr_attributes %}
            {% if ta_feature == tax_asr_name %}
                <option selected value="{{ ta_feature }}">{{ ta_feature }}</option> 
            {% else %} 
                <option value="{{ ta_feature }}">{{ ta_feature }}</option> 
            {% endif %}
        {% endfor %}
</select>
<input type="submit">
</form>

{{ script|safe }}
{{ div|safe }}


</body>
</html>